<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/960gs/960.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/960gs/960_12_col.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/compositron.css" type="text/css" />
    <title>Consider this</title>
</head>
<body>
    <div class="container_12">
      <div id="header">
        <div class="grid_12 main_nav">
          <h2>Error</h2>
        </div>
      </div>
      <div id="content">
        <div class="grid_12 top_section">
          <p>The web application has encountered an error.</p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
</body>
</html>
